# Dependencies
node_modules/
*/node_modules/
frontend/node_modules/
backend/venv/
backend/__pycache__/
backend/.pytest_cache/
*.pyc
*.pyo
*.pyd
backend/app/race_data/cache
backend/app/race_data_test

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/.env
frontend/.env

# Build outputs
frontend/dist/
frontend/build/
backend/dist/

# Docker
postgres_data/
*.log

# IDE/Editor files
.vscode/


# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache
.md
README-dev.md
frontend/vite.config.ts
